@keyframes jello {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes wobble {
  0%,
  100% { transform: translateX(0%); transform-origin: 50% 50%;}
  15% { transform: translateX(0.5%) rotate(-3deg); }
  30% { transform: translateX(1.5%) rotate(3deg); }
  45% { transform: translateX(1.5%) rotate(-1.3deg); }
  60% { transform: translateX(0.5%) rotate(1.2deg); }
  75% { transform: translateX(0%) rotate(-0.6deg); }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% {
    transform: scale(1.06);
    filter: brightness(1.2) drop-shadow(0px 0px 20px #f3b9); }
  100% { transform: scale(1); }
}

@keyframes flare {
  0% { filter: drop-shadow(0px 0px 2px magenta); }
  20% {
    filter: drop-shadow(0px 0px 20px magenta); }
  100% { filter: drop-shadow(0px 0px 100px magenta); }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9cffcc !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main {
  background-image: linear-gradient(180deg, #e5c1f9, 10%, #a6e0ff, 30%, #e8ffd7, 80%, #9cffcc);
  display: grid;
  align-items: center;
  grid-template-columns: 2.2em 8em 1fr;
  grid-template-rows: 3em 1fr;
}

.logo {
  background-image: url("/src/assets/nooltext7.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 8em;
  padding: 1em;
  grid-column: 1 / span 3;
  grid-row: 1;
  margin: 2em 2em 0 1.5em;
}
.logo:hover {
  mix-blend-mode: plus-lighter;
  transition: all;
  transition-duration: 2s;
  /*filter: drop-shadow(0px 0px 10px magenta); */
  animation: flare;
  animation-duration: 2s;
  animation-timing-function: linear;
}

.node-container {
  width: fit-content;
  user-select: none;
  cursor: pointer;
}

.node.atom {
  background-color: #af90f5;
  color: white;
  width: fit-content;
  border-radius: 2em;
  padding: 0 0.25em;
  justify-content: center;
}
.node.atom:hover/*,
.node.selected*/ {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.35, 0, 0.25, 0.35);
  /*filter: brightness(1.1) drop-shadow(2px 4px 6px #f5f6);*/
}
.node.selected,
.node.selected:hover  {
  outline: 1px solid #a043b8;
  background-color: #c264d366 !important;
  /* filter: hue-rotate(45deg);
  /*filter: invert(1) !important;*/
}

.node {
  width: fit-content;
  display: flex;
  border-radius: 2em 0.5em 0.5em 2em;
  padding: 0.2em;
  margin: 0.2em;
  align-items: center;
  box-shadow: 4px 4px 8px #773fcc40;
  border-bottom: 0.3px solid rgba(13, 0, 95, 22);
  border-top: 0.3px solid rgba(255, 255, 255, 66);
}
.node:hover {
  filter: brightness(1.1);
  border-bottom: 0.3px solid rgb(187, 0, 255);
  border-top: 0.3px solid rgb(255, 100, 212);
  /*background-color: #af90f5;*/
}
.node.comp:active {
  animation-name: wobble;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
.node.comp {
  /* display: flex; */
  color: transparent;
    text-shadow: 0 0 0 #50b0ff;
  background-color: #005bff26;
}
.head {
  background-color: #273b82;
  color: transparent;
  text-shadow: 0.2px 0.5px 0.5px rgb(147 173 244);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.tbuts {
  position: relative;
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: #aee7e866;
  border-radius: 1.1em;
  border-top: 0.5px solid #a5cff7;
  grid-column: 2 / span 1;
  width: fit-content;
  margin: 1.5em;
}
.tbut {
  height: fit-content;
  width: fit-content;
  padding: 7px;
  gap: 0.5em;
  border-top: 0.4px solid #b0b0b099;
  border-bottom: 1.1px solid #f0f0f1;
  transition: all 0.05s;
  z-index: 10;
  font-variant: diagonal-fractions;
  text-shadow: 0 -0.5px 0 #469aa5;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.6em;
  user-select: none;
  cursor: pointer;
  display: flex;
  color: #95dde0;
  background-color: #f0f0f077;
  border-radius: 2em;
  margin: 0.25em;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.tbut .label {
  position: absolute;
  top: .5em;
  font-size: 0.37em;
  right: 3.7em;
  color: #cae6e0;
}
/*.tbut:hover {
  filter: drop-shadow(0px 4px 6px #38fbf5);
  border-top: 1px solid #37a19c;
  background-color: #38fbf5;
  border-bottom: none;
  box-shadow: inset 0px -10px 10px #46c2e9;
  color: #b8fffe;
}*/
.tbut:hover {
  /*filter: drop-shadow(0px 2px 4px #a8f);*/
  /*padding-bottom: 6px;*/
  border-top: 1px solid #a147c3;
  border-bottom: 0.5px solid white;
  text-shadow: 0 -0.5px 0 #ff00ff;
  background-color: #38fbf5;
  box-shadow: inset 0px -10px 10px #ad91ff;
  color: white;
  animation-name: wobble;
  animation-duration: 0.3s;
}
.tbut:hover::before {
  box-shadow: 0pt 5pt 8pt 0 #0fdc, 0 0.5px 2px 0 #6f00ff;
  border-radius: 2em;
  mix-blend-mode: hard-light;
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.tbut:active {
  padding-bottom: 6px;
  border-top: 2.5px solid #000000;
  border-bottom: 0px solid white;
  color: black;
  filter: brightness(1.0) contrast(1.0) drop-shadow(0px 5px 10px #f0f9);
  mix-blend-mode: plus-lighter;
}
.tbut:active::before {
  box-shadow: none;
}

.previews {
  position: absolute;
  right: 0;
  top: 0;
}

#toolbar {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  margin: 1em;
  height: 144px;
  width: 1.63em;
  background-size: 1.63em;
  background-repeat: no-repeat;
  box-shadow: 4px 4px 10px #0663;
}

#stage {
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
}

.transform {
  display: flex;
  align-items: center;
  font-size: 0.6em;
}

.pat.node.atom {
  width: 1.5em;
  font-family: "Segoe UI Emoji";
}
.pat.node.atom.♫ {
  background-color: cyan;
  color: rgb(29, 182, 182);
}
.pat.node.atom.♥ {
  background-color: #f772f7;
  color: rgb(189 49 255);
}
.pat.node.atom.✿ {
  background-color: yellow;
  color: rgb(213, 176, 91);
}

.pat.node.comp {
  position: relative;
  display:flex;
  flex-direction: row;
}

.tbut:active .pat {
  color: black !important;
}