body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.node-container {
  width: fit-content;
  user-select: none;
  cursor: pointer;
}

.node.atom {
  background-color: #af90f5;
  color: white;
  width: fit-content;
  border-radius: 2em;
  padding: 0 0.25em;
  justify-content: center;
}
.node {
  display: flex;
  border-radius: 2em;
  padding: 0.2em;
  margin: 0.2em;
  align-items: center;
  box-shadow: 4px 4px 8px #773fcc40;
  border-bottom: 0.3px solid rgba(13, 0, 95, 22);
  border-top: 0.3px solid rgba(255, 255, 255, 66);
}
.node:hover {
  filter: brightness(1.1);
  border-bottom: 0.3px solid rgb(187, 0, 255);
  border-top: 0.3px solid rgb(255, 100, 212);
  /*background-color: #af90f5;*/
}
.node.comp {
  /* display: flex; */
  color: transparent;
    text-shadow: 0 0 0 #50b0ff;
  background-color: #005bff26;
}
.head {
  background-color: #273b82;
  color: transparent;
  text-shadow: 0.2px 0.5px 0.5px rgb(147 173 244);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
